*{
    margin: 0;
    padding: 0;
}

header{
    height: 100%;
    width: 100%;
    color: white;
}
.video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
    color: white;
}
i{
    font-size: 80px;
}

.nav{
 display: flex;
 text-align: center;
 justify-content: space-between;
 width: 100%;
 top: 0;
 position: absolute;
 height: 80px;
 padding-top: 45px;
}
.left{
 padding-left: 80px;
 font-size: 30px;
 
}

.right{
 
justify-content: space-between; 


}


#span{
    background-color: orange;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-right: 0;
    padding: 80px; 
    
}


ul li{
    
    text-decoration: none;
    list-style: none;
    

}

.title{
    position: absolute;
    top: 40%;
    left: 50%;

    font-size:40px;
    color: white;
}
#second{
transform: translate(-10%);

}
#third{
    transform: translate(-40%);
}

.icon{
 position: fixed;
  bottom: 5%;
  right: 55px;
  

}
